$bg-color: rgba(150, 150, 150, 1);

$border-left-color: rgba(255, 255, 255, 0.2);
$border-top-color: rgba(255, 255, 255, 0.33);
$border-right-color: rgba(0, 0, 0, 0.15);
$border-bottom-color: rgba(0, 0, 0, 0.5);

/* Square Colors */
$color-0: #eaeaea;
$color-1: #ff6600;
$color-2: #eec900;
$color-3: #0000ff;
$color-4: #cc00ff;
$color-5: #00ff00;
$color-6: #66ccff;
$color-7: #ff0000;

/* Button Colors */
$button-color-t: rgba(200, 200, 200, 1);
$button-color-r: rgba(150, 150, 150, 1);
$button-color-b: rgba(120, 120, 120, 1);
$button-color-l: rgba(222, 222, 222, 1);

$cols: 10;
$rows: 18;
$tile-size: 20px;
$border-width: 5px;

* {
  box-sizing: border-box;
}

/* Colors */
.color-0 {
  background-color: $color-0;
}

.color-1 {
  background-color: $color-1;
}

.color-2 {
  background-color: $color-2;
}

.color-3 {
  background-color: $color-3;
}

.color-4 {
  background-color: $color-4;
}

.color-5 {
  background-color: $color-5;
}

.color-6 {
  background-color: $color-6;
}

.color-7 {
  background-color: $color-7;
}

/* Grid Square */
.grid-square {
  border-style: solid;
  width: $tile-size;
  height: $tile-size;
  border-width: $border-width;
  border-left-color: $border-left-color;
  border-top-color: $border-top-color;
  border-right-color: $border-right-color;
  border-bottom-color: $border-bottom-color;
}

.grid-board {
  display: grid;
  grid-template-columns: repeat($cols, $tile-size);
  grid-gap: 0;
  align-self: flex-start;
}
